body{
  font-family: Arial, Helvetica, sans-serif;
}
.head{
     display: flex;
     justify-content: center;
     color: black;
     font-family: Arial, Helvetica, sans-serif;
    
}
.head a{
  margin-right: 30px;
  text-decoration: none;

  color: black;
  font-family: Arial, Helvetica, sans-serif; 
}


